#footer
    background: color-footer-background
    margin-top: 60px
    color: color-grey
    line-height: line-height
    a
        color: #ccc
        text-decoration: none
        &:hover
            color: #fff
    .credit
        padding: 30px
    #footer-back-to-top
        background: #a795a7
    #back-to-top
        background: #eaeaea
        color: #777
        overflow: hidden
        text-align: center
        width: 60px
        height: 30px
        display: block
        margin: 0 auto 0
        box-shadow: 0 1px 1px rgba(0,0,0,0.1)
        &:hover
            color: #444
        i
            font-size: 38px
            line-height: 22px
    .footer-social-links
        font-size: 32px
        padding: 40px 0 60px 0
        margin: 0 auto
        text-align: center
        background: #a795a7
        li
            display: inline-block
            margin: 0 15px
