.home-inner
    color: #000
    background: #fff
    box-sizing: border-box
    .home-intro
        margin: 0 auto
        background: center center url('/images/background.jpg')
        padding: 40px
        box-sizing: border-box
        span
            font-size: 2.2em
            color: #333
            font-weight: 800
            background: #fff
            padding: 5px 10px
            line-height: 2em
    .home-content
        padding: 40px
        ul
            display: flex
            flex-wrap: wrap
            align-items: flex-end
            justify-content: space-around
            li
                margin: 10px
                list-style: none
    .home-contact-me
      text-align: center
